body{
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

#main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}

/* Navbar */

#header {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  
  background-color: #455a64;
  font-family: 'Raleway', sans-serif;
}

#header > a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}

#header > a:hover{
  color: #90a4ae;
}


/* Tables */

table {
    width:100%;
    margin-bottom: 20px;
}

th {
    text-align: left;
    color: white;
    background-color: #2e7d32;
}

td {
    background-color: EEEEEE;
}

th, td {
    padding: 10px;
}

/* Videos */

.video {
    width: 100%;
    height: 400px;
}
